<div class="ui vertical segment inverted">
    <div class="ui grid">

        <div class="ui mobile only one column row">
            <div class="column">
                <div class="ui two column grid ">
                    <div class="column">
                        <div class="item sidebar toggle"><i class="sidebar large icon"></i></div>
                    </div>
                    {{#if user}}
                    <div class="column">
                        <a href="/profile">
                            <img class="ui profile right floated avatar image" src="{{user.avatar}}" alt="avatar">
                        </a>
                    </div>
                    {{else}}
                    <div class="column">
                        <a class="ui login mini button secondary inverted right floated" href="/login">Login</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="ui computer tablet only one column row">
            <div class="ui container">
                <nav class="ui large secondary inverted menu">
                    <h3 class="header item">Noire</h3>
                    <a class="item" href="#">One</a>
                    <a class="item" href="#">Two</a>
                    <a class="item" href="#">Three</a>
                    <a class="item" href="#">Four</a>
                    <div class="right item">
                        {{#if user}}
                            {{#if user.admin}}
                                <a class="ui button secondary inverted" href="/admin">Admin</a>
                            {{else}}
                                <a class="ui button secondary inverted" href="/">Home</a>
                            {{/if}}
                            <button class="ui logout button secondary inverted">Logout</button>
                            <a href="/profile">
                                <img class="ui avatar image" src="{{user.avatar}}" alt="avatar">
                            </a>
                        {{else}}
                            <a class="ui button secondary inverted" href="/login">Login</a>
                        {{/if}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
