<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- TODO: are there problems with including the crumb in all page headers? -->
    <meta name="crumb" content="{{crumb}}" value="{{crumb}}">

    <title>Noire Server {{version}}</title>

    <link href="/css/commons.css" rel="stylesheet">
    <link href="/css/{{page-name}}.css" rel="stylesheet">

</head>

<body>

    {{{ content }}}

    <script src="/js/commons.bundle.js" charset="utf-8"></script>
    <script src="/js/{{page-name}}.bundle.js" charset="utf-8"></script>

</body>

</html>
