<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="group icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">Permissions</div>
                </h3>
            </div>
        </div>
    </div>

    <div class="ui three column row">
        <div class="ui column">
            <div class="ui basic segment">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="search" class="prompt" type="text" {{#if searchQuery}} data-query= {{searchQuery}} {{/if}} {{#if searchValue}} value="{{searchValue}}" {{/if}} autocomplete="off" placeholder="Search resources...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each sortOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each limitOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    <div class="ui one column row">
        <div class="ui column">
            <div class="ui basic segment">
                <table class="ui compact celled structured definition resource table">
                    <thead class="full-width">
                        <tr>
                            <th rowspan="2"></th>
                            <th rowspan="2">Resource</th>
                            <th class="center aligned" colspan="5">Actions</th>
                        </tr>
                        <tr>
                            <th>Create</th>
                            <th>Read</th>
                            <th>Update</th>
                            <th>Delete</th>
                            <th>List</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each resources}}
                            <tr>
                                <td class="collapsing">
                                    <div class="ui fitted slider checkbox">
                                        <input type="checkbox"> <label></label>
                                    </div>
                                </td>
                                <td>{{this.name}}</td>
                                <td class="center aligned">
                                    <div hidden class="action-check">
                                        <i class="large green checkmark icon"></i>
                                    </div>
                                </td>
                                <td class="center aligned">
                                    <div hidden class="action-check">
                                        <i class="large green checkmark icon"></i>
                                    </div>
                                </td>
                                <td class="center aligned">
                                    <div hidden class="action-check">
                                        <i class="large green checkmark icon"></i>
                                    </div>
                                </td>
                                <td class="center aligned">
                                    <div hidden class="action-check">
                                        <i class="large green checkmark icon"></i>
                                    </div>
                                </td>
                                <td class="center aligned">
                                    <div hidden class="action-check">
                                        <i class="large green checkmark icon"></i>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="7">
                                <div class="ui right floated small primary labeled icon button">
                                    <i class="user icon"></i> Add to Role
                                </div>
                                <div class="ui small select-all button">
                                    Select all
                                </div>

                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
