<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="group icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">Roles</div>
                </h3>
            </div>
        </div>
        <div class="ui computer tablet only column">
            <div class="ui basic right aligned segment">
                <div class="ui positive button">
                    <i class="add group icon"></i> Add Role
                </div>
            </div>
        </div>
        <div class="ui mobile only column">
            <div class="ui basic left aligned segment">
                <div class="ui positive button">
                    <i class="add group icon"></i> Add Role
                </div>
            </div>
        </div>
    </div>

    <div class="ui three column row">
        <div class="ui column">
            <div class="ui basic segment">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="search" class="prompt" type="text" {{#if searchQuery}} data-query= {{searchQuery}} {{/if}} {{#if searchValue}} value="{{searchValue}}" {{/if}} autocomplete="off" placeholder="Search roles...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each sortOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each limitOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="ui one column row">
        <div class="ui column">
            <div class="ui basic segment">
                <table class="ui selectable celled role table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each roles}}
                            <tr data-id="{{this.id}}">
                                <td class="role-row">{{this.name}}</td>
                                <td class="role-row">{{this.description}}</td>
                                <td>
                                    <i class="large blue link write icon"></i>
                                    <i class="large red link trash role icon"></i>
                                </td>
                            </tr>
                            <div id="delete-role-{{this.id}}" class="ui modal activation">
                                <i class="close icon"></i>
                                <div class="header">
                                    Delete Role
                                </div>
                                <div class="image content">
                                    <div class="ui medium image">
                                        <i class="book icon"></i>
                                    </div>
                                    <div class="description">
                                        <div class="ui header">You are about to delete {{this.name}} from the roles' list.</div>
                                        <p id="role-warning" hidden> <i class="warning sign icon"></i> There are users and/or permissions associated with this role</p>
                                        <p>Do you want to proceed?</p>
                                    </div>
                                </div>
                                <div class="actions">
                                    <div class="ui black deny button">
                                        No
                                    </div>
                                    <div class="ui positive right labeled icon button">
                                        Yes
                                        <i class="checkmark icon"></i>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr class="table footer">
                            <th colspan="3">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item" href="{{getFirstPage}}">
                                        <i class="circle left chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getPreviousPage}}">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getNextPage}}">
                                        <i class="right chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getLastPage}}">
                                        <i class="circle right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
