<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="users icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">Users</div>
                </h3>
            </div>
        </div>
        <div class="ui computer tablet only column">
            <div class="ui basic right aligned segment">
                <div class="ui positive button">
                    <i class="add user icon"></i> Add User
                </div>
            </div>
        </div>
        <div class="ui mobile only column">
            <div class="ui basic left aligned segment">
                <div class="ui positive button">
                    <i class="add user icon"></i> Add User
                </div>
            </div>
        </div>
    </div>

    <div class="ui three column row">
        <div class="ui column">
            <div class="ui basic segment">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="search" class="prompt" type="text" {{#if searchQuery}} data-query= {{searchQuery}} {{/if}} {{#if searchValue}} value="{{searchValue}}" {{/if}} autocomplete="off" placeholder="Search users...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each sortOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each limitOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="ui one column row">
        <div class="ui column">
            <div class="ui basic segment">
                <table class="ui selectable celled user table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>User</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr data-id="{{this.id}}">
                                <!-- disabling this element prevents click events -->
                                <td {{#if this.active}} class="user-row link" {{else}} class="disabled" {{/if}}>
                                    <img class="ui avatar image {{#unless this.active}} disabled {{/unless}}" src="{{this.avatar}}" alt="avatar">
                                </td>
                                <td {{#if this.active}} class="user-row" {{else}} class="disabled" {{/if}}>{{this.username}}</td>
                                <td {{#if this.active}} class="user-row" {{else}} class="disabled" {{/if}}>{{this.name}}</td>
                                <td {{#if this.active}} class="user-row" {{else}} class="disabled" {{/if}}>{{this.email}}</td>
                                <td>
                                    <i class="large blue link write icon"></i>
                                    {{#if this.active}}
                                        <i class="large black link remove user activation icon"></i>
                                        <i class="large disabled trash user icon"></i>
                                    {{else}}
                                        <i class="large green link user activation icon"></i>
                                        <i class="large red link trash user icon"></i>
                                    {{/if}}
                                </td>
                            </tr>


                            <div id="status-user-{{this.id}}" class="ui modal">
                                <i class="close icon"></i>
                                <div class="header">
                                    User Status
                                </div>
                                <div class="image content">
                                    <div class="ui medium image">
                                        <img src="{{this.avatar}}">
                                    </div>
                                    <div class="description">
                                        {{#if this.active}}
                                        <div class="ui header">You are about to set {{this.username}}'s status to inactive</div>
                                        <p>The user won't be able to login or access the account.</p>
                                        <p>Do you want to proceed?</p>
                                        {{else}}
                                        <div class="ui header">You are about to set {{this.username}}'s status to active</div>
                                        <p>User will regain access to the account.</p>
                                        <p>Do you want to proceed?</p>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="actions">
                                    <div class="ui black deny button">
                                        No
                                    </div>
                                    <div class="ui positive right labeled icon button">
                                        Yes
                                        <i class="checkmark icon"></i>
                                    </div>
                                </div>
                            </div>

                            <div id="delete-user-{{this.id}}" class="ui modal activation">
                                <i class="close icon"></i>
                                <div class="header">
                                    Delete User
                                </div>
                                <div class="image content">
                                    <div class="ui medium image">
                                        <img src="{{this.avatar}}">
                                    </div>
                                    <div class="description">
                                        <div class="ui header">You are about to delete {{this.username}}'s account.</div>
                                        <p>This action can't be reverted.</p>
                                        <p>Do you want to proceed?</p>
                                    </div>
                                </div>
                                <div class="actions">
                                    <div class="ui black deny button">
                                        No
                                    </div>
                                    <div class="ui positive right labeled icon button">
                                        Yes
                                        <i class="checkmark icon"></i>
                                    </div>
                                </div>
                            </div>

                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr class="table footer">
                            <th colspan="5">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item" href="{{getFirstPage}}">
                                        <i class="circle left chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getPreviousPage}}">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getNextPage}}">
                                        <i class="right chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getLastPage}}">
                                        <i class="circle right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


</div>
