<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="users icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">Users</div>
                </h3>
            </div>
        </div>
        <div class="ui computer tablet only column">
            <div class="ui basic right aligned segment">
                <div class="ui positive button">
                    <i class="add user icon"></i> Add User
                </div>
            </div>
        </div>
        <div class="ui mobile only column">
            <div class="ui basic left aligned segment">
                <div class="ui positive button">
                    <i class="add user icon"></i> Add User
                </div>
            </div>
        </div>
    </div>

    <div class="ui three column row">
        <div class="ui column">
            <div class="ui basic segment">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="search" class="prompt" type="text" placeholder="Search users...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each sortOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    {{#each limitOptions}}
                    <option value="{{this.value}}" {{#if selected}}selected="selected"{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="ui one column row">
        <div class="ui column">
            <div class="ui basic segment">
                <table class="ui selectable celled user table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>User</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr data-id="{{this.id}}">
                                <!-- disabling this element prevents click events -->
                                <td {{#unless this.active}} class="disabled" {{/unless}}>
                                    <img class="ui avatar image {{#unless this.active}} disabled {{/unless}}" src="{{this.avatar}}" alt="avatar">
                                </td>
                                <td {{#unless this.active}} class="disabled" {{/unless}}>{{this.username}}</td>
                                <td {{#unless this.active}} class="disabled" {{/unless}}>{{this.name}}</td>
                                <td {{#unless this.active}} class="disabled" {{/unless}}>{{this.email}}</td>
                                <td>
                                    <i class="large blue link write icon"></i>
                                    {{#if this.active}}
                                        <i class="large disabled link remove user icon"></i>
                                    {{else}}
                                        <i class="large green link user icon"></i>
                                    {{/if}}
                                    <i class="large red link trash user icon"></i>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr class="table footer">
                            <th colspan="5">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item" href="{{getFirstPage}}">
                                        <i class="circle left chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getPreviousPage}}">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getNextPage}}">
                                        <i class="right chevron icon"></i>
                                    </a>
                                    <a class="icon item" href="{{getLastPage}}">
                                        <i class="circle right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
