<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="group icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <a href="/admin/users" class="section">Users</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">{{user.username}}</div>
                </h3>
            </div>
        </div>
        <div class="ui computer tablet only column">
            <div class="ui basic right aligned segment">
                <div class="ui primary button">
                    <i class="edit icon"></i> Edit User
                </div>
            </div>
        </div>
        <div class="ui mobile only column">
            <div class="ui basic left aligned segment">
                <div class="ui primary button">
                    <i class="edit icon"></i> Edit User
                </div>
            </div>
        </div>
    </div>

    <div class="ui one column row">
        <div class="ui column">

            <div class="ui raised segment">

                <img class="ui right floated image" src="{{user.avatar}}" alt="avatar">

                <div class="ui primary ribbon label">ID</div>
                <p></p>
                <p class="ui big">{{user.id}}</p>
                <p></p>

                <div class="ui primary ribbon label">Username</div>
                <p></p>
                <p class="ui big">{{user.username}}</p>
                <p></p>

                <div class="ui primary ribbon label">Name</div>
                <p></p>
                <p class="ui big">{{user.name}}</p>
                <p></p>

                <div class="ui primary ribbon label">Email</div>
                <p></p>
                <p class="ui big">{{user.email}}</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
