<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="group icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <a href="/admin/users" class="section">Users</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">{{user.username}}</div>
                </h3>
            </div>
        </div>
        <div class="ui computer tablet only column">
            <div class="ui basic right aligned segment no padding">
                <div class="ui primary no margin right button">
                    <i class="edit icon"></i> Edit User
                </div>
            </div>
        </div>
        <div class="ui mobile only column">
            <div class="ui basic left aligned segment">
                <div class="ui primary button">
                    <i class="edit icon"></i> Edit User
                </div>
            </div>
        </div>
    </div>

    <div class="ui one column row">
        <div class="ui column">
            <div class="ui raised segment">
                <div class="ui primary ribbon label">{{user.id}}</div>
                <img class="ui centered small circular image" src="{{user.avatar}}" alt="avatar">
                <h2 class="ui centered header">{{user.name}}<br>
                <a class="ui teal label">Admin</a>
                <a class="ui teal label">User</a>
                <a class="ui teal label">Guest</a>
                </h2>
                <h3 class="ui blue header">Contact Information</h3>
                <div class="ui divider"></div>
                <div class="ui large list">
                    <div class="item">
                        <div class="header">Email</div>
                        <div class="content">{{user.email}}</div>
                    </div>
                    <div class="item">
                        <div class="header">Phone</div>
                        <div class="content">999888777</div>
                    </div>
                </div>
                <h3 class="ui blue header">Additional Information</h3>
                <div class="ui divider"></div>
                <div class="ui gray large list">
                    <div class="item">
                        <div class="header">Birth Date</div>
                        <div class="content">22-09-1974</div>
                    </div>
                    <div class="item">
                        <div class="header">Address</div>
                        <div class="content">The other side of the moon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
